GCP_PROJECT=my-googlecloud-project
GCP_LOCATION=us-central1
GCP_BUCKET=gs://myproject-adk-staging
ADAPTER_URL=https://your-mcp-adapter-url/
MCP_AGENT_HEADER=gemini-enterprisetools   // this is your AgentName in the MCP Bridge
